/* 
    Created on : 19 dic. 2021, 1:19:26 a. m.
    Author     : neury-dev
*/
#skills {
    -fx-background-color: inherit;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 16;
    -fx-spacing: 1;
}
.button {
    -fx-text-fill: n-color-1;
    -fx-background-color: inherit;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}
.button:hover { -fx-opacity: 0.5; }
