.pane {
    -fx-background-color: n-color-1;
    -fx-alignment: CENTER;
}
.v-box {
    -fx-alignment: CENTER;
}
.label {
    -fx-text-fill: n-color-2-5;
    -fx-effect: dropshadow(one-pass-box, n-color-2-7, n-color-2);
}
.button {
    -fx-background-color: n-color-2;
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-text-fill: n-color-1;
    -fx-font-size: 24;
    -fx-padding: 10 20 10 20;
}
.button:focused, 
.button:hover {
    -fx-background-color: n-color-2-8;
}
.text-field {
    -fx-font-size: 18;
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 6 10 4 10;
    -fx-effect: innershadow(gaussian, n-color-1, n-color-2-2);
}
.text-field:focused {
    -fx-prompt-text-fill: n-color-2-5;
    -fx-background-color: n-color-1;
}
